
    div {
      background-image:
      url('github/lecture0/img/Marble.jpg'), url('github/lecture0/img/Cathedral.jpg');
      Background-position: center; background-repeat: no-repeat, repeat;
      background-size: 68% 100%, 100%; padding: 10px;
      }
    body {background-color: transparent;}
    h1 {
        color:black;text-align:center; font-family: sans-serif;
        text-shadow: 5px 7px 12px #757575;
       }
    p  {
        font-family:  sans-serif; font-size: 14px;
        text-align: center;
        background-color: black;
        background-position: center;
        margin-right: auto; margin-left: auto;
        color: white;
        width: 60%;
        height: 20%;
        padding: 20px;
        border: 4px solid #242424;
        box-shadow: 5px 7px 12px #757575;
          }
    table, td {
        background-color: white;
          margin-left: auto;
          margin-right: auto;
          border: 2px solid black;
          border-collapse: collapse;
          text-align: center;
          box-shadow: 5px 7px 11px #757575
            }
